In [1]:
pip install pydataset

Requirement already satisfied: pydataset in c:\users\13616\anaconda3\lib\site-packages (0.2.0)
Requirement already satisfied: pandas in c:\users\13616\anaconda3\lib\site-packages (from pydataset) (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\13616\anaconda3\lib\site-packages (from pandas->pydataset) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\13616\anaconda3\lib\site-packages (from pandas->pydataset) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\13616\anaconda3\lib\site-packages (from pandas->pydataset) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\13616\anaconda3\lib\site-packages (from pandas->pydataset) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\13616\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->pydataset) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
from pydataset import data

In [5]:
print(data())

        dataset_id                                             title
0    AirPassengers       Monthly Airline Passenger Numbers 1949-1960
1          BJsales                 Sales Data with Leading Indicator
2              BOD                         Biochemical Oxygen Demand
3     Formaldehyde                     Determination of Formaldehyde
4     HairEyeColor         Hair and Eye Color of Statistics Students
..             ...                                               ...
752        VerbAgg                  Verbal Aggression item responses
753           cake                 Breakage Angle of Chocolate Cakes
754           cbpp                 Contagious bovine pleuropneumonia
755    grouseticks  Data on red grouse ticks from Elston et al. 2001
756     sleepstudy       Reaction times in a sleep deprivation study

[757 rows x 2 columns]

In [10]:
dataset_ids = data()['dataset_id'].tolist()
dataset_ids_str = ",".join(dataset_ids)
print(dataset_ids_str)

AirPassengers,BJsales,BOD,Formaldehyde,HairEyeColor,InsectSprays,JohnsonJohnson,LakeHuron,LifeCycleSavings,Nile,OrchardSprays,PlantGrowth,Puromycin,Titanic,ToothGrowth,UCBAdmissions,UKDriverDeaths,UKgas,USAccDeaths,USArrests,USJudgeRatings,USPersonalExpenditure,VADeaths,WWWusage,WorldPhones,airmiles,airquality,anscombe,attenu,attitude,austres,cars,chickwts,co2,crimtab,discoveries,esoph,euro,faithful,freeny,infert,iris,islands,lh,longley,lynx,morley,mtcars,nhtemp,nottem,npk,occupationalStatus,precip,presidents,pressure,quakes,randu,rivers,rock,sleep,stackloss,sunspot.month,sunspot.year,sunspots,swiss,treering,trees,uspop,volcano,warpbreaks,women,acme,aids,aircondit,aircondit7,amis,aml,bigcity,brambles,breslow,calcium,cane,capability,catsM,cav,cd4,channing,city,claridge,cloth,co.transfer,coal,darwin,dogs,downs.bc,ducks,fir,frets,grav,gravity,hirose,islay,manaus,melanoma,motor,neuro,nitrofen,nodal,nuclear,paulsen,poisons,polar,remission,salinity,survival,tau,tuna,urine,wool,aids,alloauto,allograft,azt,baboon,bcdeter,bfeed,bmt,bnct,btrial,burn,channing,drug6mp,drughiv,hodg,kidney,kidrecurr,kidtran,larynx,lung,pneumon,psych,rats,std,stddiag,tongue,twins,Animals2,CrohnD,NOxEmissions,SiegelsEx,aircraft,airmay,alcohol,ambientNOxCH,bushfire,carrots,cloud,coleman,condroz,cushny,delivery,education,epilepsy,exAM,foodstamp,hbk,heart,kootenay,lactic,milk,pension,phosphor,pilot,possumDiv,pulpfiber,radarImage,salinity,starsCYG,telef,toxicity,vaso,wagnerGrowth,wood,AMSsurvey,Adler,Angell,Anscombe,Baumann,Bfox,Blackmoor,Burt,CanPop,Chile,Chirot,Cowles,Davis,DavisThin,Depredations,Duncan,Ericksen,Florida,Freedman,Friendly,Ginzberg,Greene,Guyer,Hartnagel,Highway1,Leinhardt,Mandel,Migration,Moore,Mroz,OBrienKaiser,Ornstein,Pottery,Prestige,Quartet,Robey,SLID,Sahlins,Salaries,Soils,States,Transact,UN,USPop,Vocab,WeightLoss,Womenlf,Wool,agriculture,animals,chorSub,flower,plantTraits,pluton,ruspini,votes.repub,xclara,affairs,azcabgptca,azdrg112,azpro,azprocedure,badhealth,fasttrakg,fishing,lbw,lbwgrp,loomis,mdvis,medpar,nuts,rwm,rwm1984,rwm5yr,ships,smoking,titanic,titanicgrp,Accident,Airline,Airq,Benefits,Bids,BudgetFood,BudgetItaly,BudgetUK,Bwages,CPSch3,CRANpackages,Capm,Car,Caschool,Catsup,Cigar,Cigarette,Clothing,Computers,Cracker,Crime,DM,Diamond,Doctor,DoctorAUS,DoctorContacts,Earnings,Electricity,Fair,Fatality,Fishing,Forward,FriendFoe,Garch,Gasoline,Griliches,Grunfeld,HC,HI,Hdma,Heating,Hedonic,Housing,Icecream,Journals,Kakadu,Ketchup,Klein,LaborSupply,Labour,MCAS,Males,Mathlevel,MedExp,Metal,Mode,ModeChoice,Mofa,Mroz,MunExp,NaturalPark,Nerlove,OFP,Oil,PSID,Participation,PatentsHGH,PatentsRD,Pound,Produc,RetSchool,SP500,Schooling,Somerville,Star,Strike,StrikeDur,StrikeNb,SumHes,Tobacco,Train,TranspEq,Treatment,Tuna,USFinanceIndustry,USclassifiedDocuments,USstateAbbreviations,UStaxWords,UnempDur,Unemployment,University,VietNamH,VietNamI,Wages,Wages1,Workinghours,Yen,Yogurt,bankingCrises,incomeInequality,nonEnglishNames,politicalKnowledge,PD,aldh2,apoeapoc,cf,crohn,fa,fsnps,hla,hr1420,l51,lukas,mao,mfblong,mhtdata,nep499,diamonds,economics,midwest,movies,mpg,msleep,presidential,seals,Arbuthnot,Bowley,Cavendish,ChestSizes,CushnyPeebles,CushnyPeeblesN,Dactyl,DrinksWages,Fingerprints,Galton,GaltonFamilies,Guerry,Jevons,Langren.all,Langren1644,Macdonell,MacdonellDF,Michelson,MichelsonSets,Minard.cities,Minard.temp,Minard.troops,Nightingale,OldMaps,PearsonLee,PolioTrials,Prostitutes,Pyx,Quarrels,Snow.deaths,Snow.polygons,Snow.pumps,Snow.streets,Wheat,Wheat.monarchs,Yeast,YeastD.mat,ZeaMays,barley,environmental,ethanol,melanoma,singer,Aids2,Animals,Boston,Cars93,Cushings,DDT,GAGurine,Insurance,Melanoma,OME,Pima.te,Pima.tr,Pima.tr2,Rabbit,Rubber,SP500,Sitka,Sitka89,Skye,Traffic,UScereal,UScrime,VA,abbey,accdeaths,anorexia,bacteria,beav1,beav2,biopsy,birthwt,cabbages,caith,cats,cement,chem,coop,cpus,crabs,deaths,drivers,eagles,epil,farms,fgl,forbes,galaxies,gehan,genotype,geyser,gilgais,hills,housing,immer,leuk,mammals,mcycle,menarche,michelson,minn38,motors,muscle,newcomb,nlschools,npk,npr1,oats,painters,petrol,quine,road,rotifer,ships,shrimp,shuttle,snails,steam,stormer,survey,synth.te,synth.tr,topo,waders,whiteside,wtloss,Cigar,Crime,EmplUK,Gasoline,Grunfeld,Hedonic,LaborSupply,Males,Produc,Snmesp,SumHes,Wages,baseball,AustralianElectionPolling,AustralianElections,EfronMorris,RockTheVote,UKHouseOfCommons,absentee,admit,bioChemists,ca2006,iraqVote,politicalInformation,presidentialElections,prussian,unionDensity,vote92,french_fries,smiths,tips,car.test.frame,car90,cu.summary,kyphosis,solder,stagec,PublicSchools,Bollen,CNES,Klein,Kmenta,Tests,bladder,cancer,cgd,colon,flchain,heart,kidney,leukemia,logan,lung,mgus,nwtco,ovarian,pbc,rats,stanford2,tobin,veteran,Arthritis,Baseball,BrokenMarriage,Bundesliga,Bundestag2005,Butterfly,CoalMiners,DanishWelfare,Employment,Federalist,Hitters,HorseKicks,Hospital,JobSatisfaction,JointSports,Lifeboats,NonResponse,OvaryCancer,PreSex,Punishment,RepVict,Saxony,SexualFun,SpaceShuttle,Suicide,Trucks,UKSoccer,VisualAcuity,VonBort,WeldonDice,WomenQueue,MatchIt.url,PErisk,SupremeCourt,Weimar,Zelig.url,approval,bivariate,coalition,coalition2,eidat,free1,free2,friendship,grunfeld,hoff,homerun,immi1,immi2,immi3,immi4,immi5,immigration,klein,kmenta,macro,mexico,mid,newpainters,sanction,sna.ex,swiss,tobin,turnout,voteincome,BCG,BtheB,CYGOB1,Forbes2000,GHQ,Lanza,agefat,aspirin,birthdeathrates,bladdercancer,clouds,epilepsy,foster,heptathlon,mastectomy,meteo,orallesions,phosphate,pistonrings,planets,plasma,polyps,polyps3,pottery,rearrests,respiratory,roomwidth,schizophrenia,schizophrenia2,schooldays,skulls,smoking,students,suicides,toothpaste,voting,water,watervoles,waves,weightgain,womensrole,Bechtoldt,Bechtoldt.1,Bechtoldt.2,Dwyer,Gleser,Gorsuch,Harman.5,Harman.8,Harman.political,Holzinger,Holzinger.9,Reise,Schmid,Thurstone,Thurstone.33,Tucker,ability,affect,bfi,bfi.dictionary,blot,burt,cities,cubits,cushny,epi,epi.bfi,epi.dictionary,galton,heights,income,iqitems,msq,neo,peas,sat.act,withinBetween,Bosco,CobarOre,Mammals,barro,engel,uis,dietox,koch,ohio,respdis,respiratory,seizure,sitka89,spruce,liver,portpirie,rain,summer,wavesurge,winter,arthritis,housing,bmw,danish,nidd.annual,nidd.thresh,siemens,sp.raw,spto87,Dyestuff,Dyestuff2,InstEval,Pastes,Penicillin,VerbAgg,cake,cbpp,grouseticks,sleepstudy

In [11]:
dataset_ids = data()['dataset_id'].tolist()
# Join into a comma-separated string
dataset_ids_str = ", ".join('dataset_ids')
print(dataset_ids_str)

d, a, t, a, s, e, t, _, i, d, s

In [13]:
import textwrap
wrapped = textwrap.fill(dataset_ids_str, width=100)
print(wrapped)

d, a, t, a, s, e, t, _, i, d, s

In [16]:
iris=data('iris')
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [22]:
iris=data('iris')
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [25]:
iris.head(10)

    Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1            5.1          3.5           1.4          0.2  setosa
2            4.9          3.0           1.4          0.2  setosa
3            4.7          3.2           1.3          0.2  setosa
4            4.6          3.1           1.5          0.2  setosa
5            5.0          3.6           1.4          0.2  setosa
6            5.4          3.9           1.7          0.4  setosa
7            4.6          3.4           1.4          0.3  setosa
8            5.0          3.4           1.5          0.2  setosa
9            4.4          2.9           1.4          0.2  setosa
10           4.9          3.1           1.5          0.1  setosa

In [26]:
iris.tail(10)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
141           6.7          3.1           5.6          2.4  virginica
142           6.9          3.1           5.1          2.3  virginica
143           5.8          2.7           5.1          1.9  virginica
144           6.8          3.2           5.9          2.3  virginica
145           6.7          3.3           5.7          2.5  virginica
146           6.7          3.0           5.2          2.3  virginica
147           6.3          2.5           5.0          1.9  virginica
148           6.5          3.0           5.2          2.0  virginica
149           6.2          3.4           5.4          2.3  virginica
150           5.9          3.0           5.1          1.8  virginica

In [35]:
iris.index

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       141, 142, 143, 144, 145, 146, 147, 148, 149, 150],
      dtype='int64', length=150)

In [36]:
iris.shape

(150, 5)

In [37]:
iris.columns

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [40]:
iris.min

<bound method DataFrame.min of      Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
1             5.1          3.5           1.4          0.2      setosa
2             4.9          3.0           1.4          0.2      setosa
3             4.7          3.2           1.3          0.2      setosa
4             4.6          3.1           1.5          0.2      setosa
5             5.0          3.6           1.4          0.2      setosa
6             5.4          3.9           1.7          0.4      setosa
7             4.6          3.4           1.4          0.3      setosa
8             5.0          3.4           1.5          0.2      setosa
9             4.4          2.9           1.4          0.2      setosa
10            4.9          3.1           1.5          0.1      setosa
11            5.4          3.7           1.5          0.2      setosa
12            4.8          3.4           1.6          0.2      setosa
13            4.8          3.0           1.4          0.1      setosa
14            4.3          3.0           1.1          0.1      setosa
15            5.8          4.0           1.2          0.2      setosa
16            5.7          4.4           1.5          0.4      setosa
17            5.4          3.9           1.3          0.4      setosa
18            5.1          3.5           1.4          0.3      setosa
19            5.7          3.8           1.7          0.3      setosa
20            5.1          3.8           1.5          0.3      setosa
21            5.4          3.4           1.7          0.2      setosa
22            5.1          3.7           1.5          0.4      setosa
23            4.6          3.6           1.0          0.2      setosa
24            5.1          3.3           1.7          0.5      setosa
25            4.8          3.4           1.9          0.2      setosa
26            5.0          3.0           1.6          0.2      setosa
27            5.0          3.4           1.6          0.4      setosa
28            5.2          3.5           1.5          0.2      setosa
29            5.2          3.4           1.4          0.2      setosa
30            4.7          3.2           1.6          0.2      setosa
31            4.8          3.1           1.6          0.2      setosa
32            5.4          3.4           1.5          0.4      setosa
33            5.2          4.1           1.5          0.1      setosa
34            5.5          4.2           1.4          0.2      setosa
35            4.9          3.1           1.5          0.2      setosa
36            5.0          3.2           1.2          0.2      setosa
37            5.5          3.5           1.3          0.2      setosa
38            4.9          3.6           1.4          0.1      setosa
39            4.4          3.0           1.3          0.2      setosa
40            5.1          3.4           1.5          0.2      setosa
41            5.0          3.5           1.3          0.3      setosa
42            4.5          2.3           1.3          0.3      setosa
43            4.4          3.2           1.3          0.2      setosa
44            5.0          3.5           1.6          0.6      setosa
45            5.1          3.8           1.9          0.4      setosa
46            4.8          3.0           1.4          0.3      setosa
47            5.1          3.8           1.6          0.2      setosa
48            4.6          3.2           1.4          0.2      setosa
49            5.3          3.7           1.5          0.2      setosa
50            5.0          3.3           1.4          0.2      setosa
51            7.0          3.2           4.7          1.4  versicolor
52            6.4          3.2           4.5          1.5  versicolor
53            6.9          3.1           4.9          1.5  versicolor
54            5.5          2.3           4.0          1.3  versicolor
55            6.5          2.8           4.6          1.5  versicolor
56            5.7          2.8           4.5          1.3  versicolor
57            6.3          3.3           4.7          1.6  versicolor
58            4.9          2.4           3.3          1.0  versicolor
59            6.6          2.9           4.6          1.3  versicolor
60            5.2          2.7           3.9          1.4  versicolor
61            5.0          2.0           3.5          1.0  versicolor
62            5.9          3.0           4.2          1.5  versicolor
63            6.0          2.2           4.0          1.0  versicolor
64            6.1          2.9           4.7          1.4  versicolor
65            5.6          2.9           3.6          1.3  versicolor
66            6.7          3.1           4.4          1.4  versicolor
67            5.6          3.0           4.5          1.5  versicolor
68            5.8          2.7           4.1          1.0  versicolor
69            6.2          2.2           4.5          1.5  versicolor
70            5.6          2.5           3.9          1.1  versicolor
71            5.9          3.2           4.8          1.8  versicolor
72            6.1          2.8           4.0          1.3  versicolor
73            6.3          2.5           4.9          1.5  versicolor
74            6.1          2.8           4.7          1.2  versicolor
75            6.4          2.9           4.3          1.3  versicolor
76            6.6          3.0           4.4          1.4  versicolor
77            6.8          2.8           4.8          1.4  versicolor
78            6.7          3.0           5.0          1.7  versicolor
79            6.0          2.9           4.5          1.5  versicolor
80            5.7          2.6           3.5          1.0  versicolor
81            5.5          2.4           3.8          1.1  versicolor
82            5.5          2.4           3.7          1.0  versicolor
83            5.8          2.7           3.9          1.2  versicolor
84            6.0          2.7           5.1          1.6  versicolor
85            5.4          3.0           4.5          1.5  versicolor
86            6.0          3.4           4.5          1.6  versicolor
87            6.7          3.1           4.7          1.5  versicolor
88            6.3          2.3           4.4          1.3  versicolor
89            5.6          3.0           4.1          1.3  versicolor
90            5.5          2.5           4.0          1.3  versicolor
91            5.5          2.6           4.4          1.2  versicolor
92            6.1          3.0           4.6          1.4  versicolor
93            5.8          2.6           4.0          1.2  versicolor
94            5.0          2.3           3.3          1.0  versicolor
95            5.6          2.7           4.2          1.3  versicolor
96            5.7          3.0           4.2          1.2  versicolor
97            5.7          2.9           4.2          1.3  versicolor
98            6.2          2.9           4.3          1.3  versicolor
99            5.1          2.5           3.0          1.1  versicolor
100           5.7          2.8           4.1          1.3  versicolor
101           6.3          3.3           6.0          2.5   virginica
102           5.8          2.7           5.1          1.9   virginica
103           7.1          3.0           5.9          2.1   virginica
104           6.3          2.9           5.6          1.8   virginica
105           6.5          3.0           5.8          2.2   virginica
106           7.6          3.0           6.6          2.1   virginica
107           4.9          2.5           4.5          1.7   virginica
108           7.3          2.9           6.3          1.8   virginica
109           6.7          2.5           5.8          1.8   virginica
110           7.2          3.6           6.1          2.5   virginica
111           6.5          3.2           5.1          2.0   virginica
112           6.4          2.7           5.3          1.9   virginica
113           6.8          3.0           5.5          2.1   virginica
114           5.7          2.5           5.0          2.0   virginica
115           5.8          2.8           5.1          2.4   virginica
116           6.4          3.2           5.3          2.3   virginica
117           6.5          3.0           5.5          1.8   virginica
118           7.7          3.8           6.7          2.2   virginica
119           7.7          2.6           6.9          2.3   virginica
120           6.0          2.2           5.0          1.5   virginica
121           6.9          3.2           5.7          2.3   virginica
122           5.6          2.8           4.9          2.0   virginica
123           7.7          2.8           6.7          2.0   virginica
124           6.3          2.7           4.9          1.8   virginica
125           6.7          3.3           5.7          2.1   virginica
126           7.2          3.2           6.0          1.8   virginica
127           6.2          2.8           4.8          1.8   virginica
128           6.1          3.0           4.9          1.8   virginica
129           6.4          2.8           5.6          2.1   virginica
130           7.2          3.0           5.8          1.6   virginica
131           7.4          2.8           6.1          1.9   virginica
132           7.9          3.8           6.4          2.0   virginica
133           6.4          2.8           5.6          2.2   virginica
134           6.3          2.8           5.1          1.5   virginica
135           6.1          2.6           5.6          1.4   virginica
136           7.7          3.0           6.1          2.3   virginica
137           6.3          3.4           5.6          2.4   virginica
138           6.4          3.1           5.5          1.8   virginica
139           6.0          3.0           4.8          1.8   virginica
140           6.9          3.1           5.4          2.1   virginica
141           6.7          3.1           5.6          2.4   virginica
142           6.9          3.1           5.1          2.3   virginica
143           5.8          2.7           5.1          1.9   virginica
144           6.8          3.2           5.9          2.3   virginica
145           6.7          3.3           5.7          2.5   virginica
146           6.7          3.0           5.2          2.3   virginica
147           6.3          2.5           5.0          1.9   virginica
148           6.5          3.0           5.2          2.0   virginica
149           6.2          3.4           5.4          2.3   virginica
150           5.9          3.0           5.1          1.8   virginica>

In [43]:
mtcars=data('mtcars')
mtcars.head(10)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

In [47]:
mtcars2 = mtcars.copy().reset_index().rename(columns={'index':'car'})
mtcars2.head(10)

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

In [51]:
mtcars2 = mtcars.copy().reset_index().rename(columns={'index':'car'})  #duplicate, reset_index (rownames to column by index), rename by index to car
mtcars2.head()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [54]:
mtcars2 = mtcars.copy().reset_index().rename(columns={'index':'car'})
mtcars2.head(20)

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
5,Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
6,Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
7,Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
8,Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
9,Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
10,Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
14,Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
15,Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
16,Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1

In [61]:
mtcars.duplicated()

Mazda RX4              False
Mazda RX4 Wag          False
Datsun 710             False
Hornet 4 Drive         False
Hornet Sportabout      False
Valiant                False
Duster 360             False
Merc 240D              False
Merc 230               False
Merc 280               False
Merc 280C              False
Merc 450SE             False
Merc 450SL             False
Merc 450SLC            False
Cadillac Fleetwood     False
Lincoln Continental    False
Chrysler Imperial      False
Fiat 128               False
Honda Civic            False
Toyota Corolla         False
Toyota Corona          False
Dodge Challenger       False
AMC Javelin            False
Camaro Z28             False
Pontiac Firebird       False
Fiat X1-9              False
Porsche 914-2          False
Lotus Europa           False
Ford Pantera L         False
Ferrari Dino           False
Maserati Bora          False
Volvo 142E             False
dtype: bool